a {text-decoration: none !important; color: #555;}
h1 {letter-spacing:0; font-weight:500;}
h2 {letter-spacing:0; line-height: 1em; font-weight:500;}

.blockContainer {max-width:980px;}
#hdWrap {max-width:980px;}

.date {color: #CC463D; line-height:2em; font-weight:500;}

.posts:hover {color: #39f;}
.posts:hover a {color: #39f;}
.posts:hover .date {color: #FF584C;}

.post .postHeader {display:table; width:100%;height:20em;text-align: center; background-image: url('/blog/img/trianglify-background.svg');}
.post .postHeader>div {display:table-cell; vertical-align:middle;}
.post .postHeader h1 {color: white; text-shadow: 3px 3px rgba(50, 50, 50, 0.3);}
.post .postHeader .date {text-shadow: 1px 1px rgba(50, 50, 50, 0.3); color: #FF584C;}