/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
	background-color: #FFFFFF;
	font-family: 'PT Sans Narrow', sans-serif;
}
.no-js {
	padding-top: 106px;
}
h2 {
	margin-top: 0;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
	min-width: 960px;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}
/* Slide 1 */
#slide-1 .bcg {background-image:url('../img/bcg_slide-1.jpg')}
#slide-1 #bdHdContent {
	margin: auto;
	width: 60%;
	min-width: 790px;
	margin-top: -20px;
}
#slide-1 .bdHdTxt {
	text-align: left;
	float: left;
	color: #fff;
	background-color: rgba(51,153,225,0.8);
	width: auto;
	margin-bottom: 8px;
	margin-left: -3px;
	margin-top: 10px;
	font-size: 32px;
	padding-top: 12px;
	display: inline;
	position: relative;
	top: 20px;
	z-index: -1;
	}
#slide-1 #bdHdFace {
	width: 260px; 
	height: 260px;
	-moz-border-radius: 160px;
	border-radius: 160px;
	-webkit-border-radius: 160px;
	background-image: url(../img/myface.jpg);
	background-position: 70% 60%;
	border: 4px solid #3399ff;
	float: left;
	z-index: 2;
	}

/* Slide 2 */
#slide-2 .bcg {background: none; background-color: #010101; height: 310px; text-align: center}

/* Slide 3 */
#slide-3 .bcg {background-image:url('../img/bcg_slide-3.jpg')}


/* Slide 4 */
.curtainContainer {width: 100%; height: 100%; position: relative;}
.curtainContainer .curtain {width: 300%; height: 1px; background-color: #000000; position: absolute; top: 25%; left: 0; opacity: 0}
.curtainContainer .copy {position: absolute; bottom: 30%; left: 0; width: 100%; text-align: center;}

#slide-4 .bcg {background-image:url('../img/bcg_slide-4.jpg')}

/* Slide 5 */
#slide-5 {position: relative;}
#slide-5 .bcg {background-image:url('../img/bcg_slide-5.jpg')}
#slide-5 .bcg2 {background-image:url('../img/bcg_slide-5b.jpg'); position: fixed; bottom: 0; left: 0; opacity: 0; z-index: 1}
#slide-5 .bcg3 {background: none; background-color: #010101; z-index: 2;  position: fixed; bottom: 0; left: 0; opacity: 0; z-index: 2}

.hsContainer {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 450px;
	margin: -150px auto 0 auto;
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	padding: 0 8%;
	text-align: center
}
	.hsContent h2,
	.copy h2 {
		color: #ffffff;
		font-size: 45px;
		line-height: 48px;
		margin-bottom: 12px;
	}
	.hsContent p {
		width: 400px;
		margin: 0 auto;
		color: #b2b2b2;
	}
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}
	.bgBlack {
		background-color: rgba(0,0,0,0.75);
		padding: 3px 10px;
	}
