/* ==========================================================================
   Header
   ========================================================================== */   
/*placeholder to prevent jumping on position change, and let nav attach nicely*/
#skills {
	display:block;
	width:100%;
	height: 70px;
	background:#fff;
}
#header {
	width: 100%;
	height: 70px;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 998;
	background-color:#fff;
	-webkit-transition: height 0.4s;
	transition: height 0.4s;
	border-bottom: 1px solid #e2e2e2;
	box-shadow:0px 0px 20px rgba(0,0,0,0.1);
}
#hdWrap {
	width: 80%;
	margin: auto;
}
#hdLogo {
	display: inline-block;
	width: 67px;
	height: 70px;
	float: left;
	background-image: url(../img/logo.svg);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	margin-left: 0px;
	margin-top: 0px;
	z-index: 10;			
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
#hdName {
    display: inline-block;
	height: 70px;
	line-height: 70px;
	font-size: 38px;
	width: auto;
	float: left;
	color: #3399ff;			
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	margin-top:-3px;
}
#hdName a {
	text-decoration: none;
	color: #3399ff;
}
nav {
	display: inline-block;
	float: right;
}
		#header nav a {
			line-height: 70px;
			margin-left: 20px;
			color: #999;
			font-size: 28px;
			text-decoration: none;			
			-webkit-transition: all 0.4s;
			transition: all 0.4s;
		}
			nav a:hover {
				color: #3399ff;
			}
			#hdNavActive {
				color: #3399ff;
			}
			#hdNavActive:hover {
				color: #999;
			}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
   
body, html {
	height: 100%;
	min-height: 100%;
	background-color: #FFF;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:300;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
@keyframes loader {
	0% {background-size:5%;opacity:0.5;}
	50%{background-size: 7%;opacity:1;}
	100%{background-size: 5%;opacity:0.5;}
}
@-webkit-keyframes loader {
	0% {background-size: 5%;opacity:0.5;}
	50% {background-size: 7%;opacity:1;}
	100% {background-size: 5%;opacity:0.5;}
}

#loader {
	background-image: url('../img/logo.svg');
	background-position: center;
	background-repeat:no-repeat;
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	animation: loader 800ms linear infinite;
	-webkit-animation: loader 800ms linear infinite;
	opacity: 1;
	visibility: visible;
}
.loaded #loader {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 300ms ease-in,visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-in,visibility 300ms ease-out;
	transition: opacity 300ms ease-in,visibility 300ms ease-out;
}
#preloadButtons {
	display:none;
}
h1 {
	color: #888;
	font-size: 3.5em;
	line-height: 1em;
	font-weight:400;
}
h2 {
	font-weight: 300;
	letter-spacing:.1em;
}
section {
	min-width: 960px;
	opacity: 0;
}

.separator {
	width: 80px;
	height: 2px;
	margin: 0 auto;
}
.white {background-color: #fff;}
.blue {background-color: #3399ff;}
.gray {background-color: #b2b2b2;}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}
/* Slide 1 - Intro/About */
#top .hsContainer {background-image:url('../img/logo.svg');
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
	background-origin:content-box;
	margin-bottom:10px;
	animation: loader 1s linear infinite;
	}
	#top .hsContent {background-color: rgba(255, 255, 255, 0.9);border:.5em solid #fff}
		#top h1 {font-size: 10em; line-height: .8em;color: #3399ff; margin: 0;font-weight:700}
		#slide1text {
			text-align: center; 
			line-height: 2.5em;
			width: 70%; 
			max-width: 1200px; 
			color: #b2b2b2;
			margin: .2em auto;
		}
		#socialSeparator{
			display: inline-block;
			width: 360px;
			height: 60px;
			transition: all 1.2s;
		}
		.loaded #socialSeparator {
			width: 0px;	
		}
		#linkedin, #github {
			display:inline-block;
			width: 60px;
			height: 60px;
			border-radius: 2px;
			background-image: url('../img/none.png');
			margin: 15px 5px;
			transition: all 1s;
			transition: background-image 2.5s;
			background-size: cover;
		}

		.loaded #linkedin {background-image: url('../img/linkedin.png')}
		#linkedin:hover {background-image: url('../img/linkedinInvert.png')}
		.loaded #github {background-image: url('../img/github.png')}
		#github:hover {background-image: url('../img/githubInvert.png')}
	
#scrollDown {
	display: block; 
	margin: auto; 
	width: 140px; 
	height: 40px; 
	margin-top: -47px; 
	color: #3399ff; 
	text-align: center;
	background-color: #fff;
	font-weight:400;
	-webkit-animation: thump 2s infinite;
	animation: thump 2s infinite;
	}
#scrollDown img {width: 42px; height: 12px; display: block; margin: auto;}

/* Slide 3 - Skills */
#skillsSection {background-color: #b2b2b2;min-height:750px;}
#skillsSection h2 {margin-top: 14px;}
.skillsContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content:space-around;
	text-align: center;
	align-items: stretch;
	margin:auto;
	overflow: hidden;
	height:100%;
}
	#skillsHeader {flex:1 100%;overflow: hidden; display: flex;align-items: center;justify-content: center;}
	#skillsHeader p, #skillsHeader h2 {color:#fff}
		#skillsHeader>div {margin:auto; padding: 0 2em;}
	.skillsContainer h3 {font-family: 'Roboto Condensed', sans-serif; color: #888; margin:.8em 0; margin-top:0}
	.skillsItem{flex: 1;min-width:33%; height:60%}
		.skillsItem p{color:#888;margin:.8em 0}
		/*white card with box shadow*/
	 	.skillsItem > div:nth-child(1){
			height:95%;
			background-color:#fff; 
			margin: 0 1em; 
			box-shadow: .5em .5em 0px 0px #888;
			padding: .5% 3%;
			transition: box-shadow, 1s;
			}
		.skillsItem>div:nth-child(1):hover{box-shadow:.2em .2em 0px 0px #39f;margin-top:.3em}
		.skillsItemHeader{display:block;width:100%}
		@-webkit-keyframes thump {
			0% { -webkit-transform: scale(1); }
			50% { -webkit-transform: scale(0.8); }
			100% { -webkit-transform: scale(1); }
		}
		@keyframes thump {
			0% { transform: scale(1); }
			50% { transform: scale(0.8); }
			100% { transform: scale(1); }
		}
		.skillsItem>div:nth-child(1):hover .skillsItemHeader>div:nth-child(1) {
			-webkit-animation-name: thump;
			-webkit-animation-duration: 600ms;
			-webkit-transform-origin:50% 50%;
			-webkit-animation-iteration-count: 1;
			-webkit-animation-timing-function: linear;
		}
		.skillsItem>div:nth-child(1):hover .skillsItemHeader>div:nth-child(1) {
			animation-name: thump;
			animation-duration: 600ms;
			transform-origin:50% 50%;
			animation-iteration-count: 1;
			animation-timing-function: linear;
		}
		/*img on top of skills items*/
		div.skillsItem > div:nth-child(1) > .skillsItemHeader>div:nth-child(1){
			margin:.5em auto;
			display:block;
			width:90px;
			height:90px;
			border:3px solid #999;
			border-radius:48px;
			background-size: 63px 63px;
			background-position:center;
			background-repeat:no-repeat;
		}
	.skillsContent {order:2;}
		#skillsFront{background-image: url('../img/responsiveYellow.svg');border-color:#A4C639}
		.skillsContent>div:hover #skillsFront{background-image: url('../img/responsive39f.svg');border-color:#39f;}
	.aside1 {order:1;}
		div.aside1 #skillsDesign{background-image: url('../img/designOrange.svg');border-color:#FFB333}
		.aside1>div:hover #skillsDesign{background-image: url('../img/design39f.svg');border-color:#39f}
	.aside2 {order:3;}
		div.aside2 #skillsBack{background-image: url('../img/servers.svg');border-color:#FF584C;}
		.aside2>div:hover #skillsBack{background-image: url('../img/servers39f.svg');border-color:#39f}
	
	
	#skillsFooter {order:4; flex: 1 100%;align-self:flex-end;height:20%}
		#skillsFooter h3 {color:#fff; margin-top:.8em}
		#toolsContainer {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items:center;
			height:100%;
		}
			.tool {
				display:flex;
				align-items:center;
				justify-content:center;
				margin:0 .5em;
				height:80%;
				width:100px;
				transition:width,1s;
			}
				.tool:hover {width:200px;}
				.tool img {
					float:left;
					width: 100px;
					height: 100px;
					border-radius: 8px;
				}
				.tool>div {
					color:#39f;
					text-align:left;
					visibility:hidden;
					width:0;
					overflow:hidden;
					transition:visibility, 1s;
					background-color:#fff;
					height:40px;
					margin-top:5px;
				}
				.tool>div p {margin:0;opacity:0;transition:opacity,1s;width:80px;margin:0 .2em}
					
					.tool:hover div {visibility:visible;width:80px;}
					.tool:hover div p {opacity:1}
					
/* Slide 4 - Blurred code */
#slide-4 .bcg {background-image:url('../img/codeblur.jpg'); background-color: #1c1c1c;}

/* Slide 5 - Contact Me */
#contact h2 {margin-bottom: 18px;}
#contactWrap {
	width: 500px;
	height: 360px;
	margin: auto;
}
#contact h2 {
	color: #3399ff;
}
#name {
	margin-right:100px;
}
#formmessages {-webkit-transition: color 0.4s;transition: color 0.4s;padding-top:10px}
.loading{color:#3399ff}
.error {color:#f00}
.success {color:#060}

/* Slide 6 - Footer */
#slide-6 {background-color: #3399ff; padding: 10px; height: 40px; top:-40px;}
#slide-6 div, #slide-6 a {color: #fff; font-family:'Droid Sans', sans-serif;}

/* Site Info */
#siteInfo {display:none; padding: 20px;padding-bottom: 40px;}
#siteInfo p {max-width: 800px; text-align:justify;}
#siteInfo h2, #siteInfo a {color:#3399ff}

/* Slide Constants */
.hsContainer {
	display: flex;
	justify-content:center;
	align-items:center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

	.hsContainer p {
		margin: 0 auto;
		color: #b2b2b2;
		font-family: 'Droid Sans', sans-serif;
	}
	.hsContainer a {color: #b2b2b2; text-decoration: underline;}
	
	.hsContent {
		flex: 1;
		color: #b2b2b2;
		text-align: center;
	}
	
/* ==========================================================================
   Form Rules
   ========================================================================== */

input {
	padding: 8px 0 8px 8px;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

label {
	display: none;
}
textarea {
	margin: 0;
	top: 0;
	left: 0;
	padding: 8px;
	resize: none;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

button {
	width: 100%;
	background: none;
	border: 1px solid #3399ff;
	font-family: 'Roboto Condensed', sans-serif;
	color: #3399ff;
	font-size: 18px;
	letter-spacing: 2px;
	padding: 8px 0;
	-webkit-transition: background 200ms ease-in, color 200ms ease-in, border 200ms ease-out;
	-moz-transition: background 200ms ease-in, color 200ms ease-out, border 200ms ease-out;
	transition: background 200ms ease-in, color 200ms ease-out, border 200ms ease-out;
}
button:hover {
	background-color: #3399ff;
	color: #fff;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #3399ff;
	opacity:  0.5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #3399ff;
    opacity:  0.5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #3399ff;
    opacity:  0.5;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #3399ff;
	opacity:  0.5;
}