{{ define "stylesheets" }}
{{ $css := resources.Get "/css/project.css" | resources.Minify}}
<link href="{{ $css.RelPermalink }}" rel="stylesheet">
{{ end }}


{{ define "content" }}

<article class="project-container">
    <header class="project-header">
        <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        <div class="project-description">{{ .Description }}</div>
        <div class="project-date project-published">
            Began {{ .Date.Format "January 2, 2006" }}
        </div>
        <div class="project-date project-last-updated">
            Updated {{ .Lastmod.Format "January 2, 2006" }}
        </div>
        {{ if .Params.repository }}
        <a class="project-resource project-repository" href="{{ .Params.repository }}">
            <i class="fas fa-code"></i>
            View Source Code
        </a>
        {{ end }}
        {{ if .Params.demo }}
        <a class="project-resource project-demo" href="{{ .Params.demo }}">
            <i class="fas fa-external-link-alt"></i>
            View Demo
        </a>
        {{ end }}
    </header>
    <div class="project-body">
        {{ .Content }}
    </div>
</article>

{{ end }}