{{ define "stylesheets" }}
{{ $css := resources.Get "/css/project.css" | resources.Minify}}
<link href="{{ $css.RelPermalink }}" rel="stylesheet">
{{ end }}


{{ define "content" }}

<article class="project-container">
    <header class="project-header">
        <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        <div class="project-date project-published">
            Began {{ .Date.Format "January 2, 2006" }}
        </div>
        <div class="project-date project-last-updated">
            Updated {{ .Lastmod.Format "January 2, 2006" }}
        </div>
        {{ if .Params.repository }}
        <div>
            <a class="project-repository" href="{{ .Params.repository }}">
                Source Code
            </a>
        </div>
        {{ end }}
        {{ if .Params.demo }}
        <div>
            <a class="project-demo" href="{{ .Params.demo }}">
                View Demo
            </a>
        </div>
        {{ end }}
    </header>
    <div class="project-body">
        {{ .Content }}
    </div>
    <div class="project-comments comments">
        {{ template "_internal/disqus.html" . }}
    </div>
</article>

{{ end }}