/* ==========================================================================
   Typography
   ========================================================================== */

@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(//fonts.googleapis.com/css?family=Droid+Sans);

h1 {
	font-size: 3.5em;
	line-height: 1.05em;
	font-weight:400;
	margin:0;
}
@media all and (max-width:768px){h1{font-size:2.5em;line-height:1.125em;}}
h2 {
	font-size:2.75em;
	font-weight: 300;
	letter-spacing:.1em;
	line-height:1.25;
	margin:0;
}
@media all and (max-width:768px){h2{font-size:1.75em;line-height:1.2em;}}
h3 {
	font-size:1.75em;
	line-height:1.25em;
	font-weight:300;
	letter-spacing:.1em;
	margin:0;
}

/* ==========================================================================
   Header/Navigation
   ========================================================================== */   
/*placeholder to prevent jumping on position change, and let nav attach nicely*/
#skills {
	display:block;
	width:100%;
	height: 70px;
	background:#fff;
}
#header {
	width: 100%;
	height: 70px;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 998;
	background-color:#fff;
	-webkit-transition: height 0.4s;
	transition: height 0.4s;
	border-bottom: 1px solid #e2e2e2;
	box-shadow:0px 0px 20px rgba(0,0,0,0.1);
}
#hdWrap {
	margin: auto;
	max-width:1300px;
}
#hdLogo {
	display: inline-block;
	width: 70px;
	height: 70px;
	float: left;
	background-image: url(../img/logo.svg);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	margin-left: 0px;
	margin-top: 0px;
	z-index: 10;			
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
#hdName {
    display: inline-block;
	height: 70px;
	line-height: 70px;
	font-size: 38px;
	font-weight:500;
	width: auto;
	float: left;
	color: #3399ff;
	text-transform:uppercase;
}
@media all and (max-width:730px){#hdName{display:none}}
#hdName a {
	text-decoration: none;
	color: #39f;
}
nav {
	display: inline-block;
	float: right;
}
	#header nav a {
		line-height: 70px;
		margin-left: 20px;
		color: #999;
		font-size: 28px;
		text-decoration: none;
		text-transform: uppercase;
		-webkit-transition: all 0.4s;
		transition: all 0.4s;
	}
		@media all and (max-width:520px){#header nav a{font-size:20px;margin-left:6px}#hdWrap{width:90%}}
			nav a:hover {
				color: #3399ff;
			}
			#hdNavActive {
				color: #3399ff;
			}
			#hdNavActive:hover {
				color: #999;
			}
#hdSocials {
	float:right;
}
	#hdSocials a>img {
		width:25px;
		margin-top:25px;
	}
/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
   
body, html {
	height: 100%;
	min-height: 100%;
	background-color: #FFF;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:300;
}
.loaded #main,
.no-js #main {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
#main {opacity: 0;overflow-y:hidden}
#loader {
	background-image: url('../img/loader.gif');
	background-position: center;
	background-repeat:no-repeat;
	position:fixed;
	display:block;
	width:100%;
	height:100%;
	visibility: visible;
}
.loaded #loader {
	color:white;
	visibility: hidden;
	-webkit-transition: visibility 300ms ease-out;
	-moz-transition: visibility 300ms ease-out;
	transition: visibility 300ms ease-out;
}
#preloadImages {
	display:none;
}

#scrollDown {
	display: block;
	position:fixed;
	top:90%;
	left:48.5%;
	margin: auto; 
	width: 48px; 
	height: 48px;
	border:3px solid #39f;
	border-radius:30px; 
	z-index:997;
	background-color: #fff;
	-webkit-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
#scrollDown img {
	display:block;
	width:40px;
	height:40px;
	margin: auto;
	margin-top:10px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
#scrollDown:hover {
	opacity:1 !important
}
@media all and (max-width:768px) {#scrollDown{display:none}}

.separator {
	width: 80px;
	height: 2px;
	margin: 0 auto;
}

.clearfix:after {
    clear:both;
    content: ' ';
    display:block;
    font-size:0;
    line-height:0;
    visibility:hidden;
    width:0;
    height:0;
}

.white {background-color: #fff;}
.blue {background-color: #3399ff;}
.gray {background-color: #b2b2b2;}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

/* ==========================================================================
   Slide Constants
   ========================================================================== */
   
.homeSlidePhoto {max-height:350px}
.tableContainer {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.tableContent {
	margin: 0 auto 0 auto;
	display: table-cell;
	vertical-align: middle;
	text-align: center
}
.blockContainer {
	width:100%;
	margin:auto;
	max-width:1300px;
}
.blockContent {
	margin:auto;
	width:100%;
}

.sectionAnchor {position:relative;bottom:70px}

	.innerHeader {text-align:center;margin-top:0;padding-top:0.67em}
	.innerHeader p {font-size:1.5em;margin:auto;max-width:70%;margin-top:.5em;margin-bottom:1em}
	
	@media all and (max-width:768px){.innerHeader p {font-size:1em;}}
	
	.innerLeft {height:80%;width:50%;float:left;display:table;}
	.innerRight {height:80%;width:50%;float:right;display:table;}
		.innerLeft div, .innerRight div {display:table-cell;vertical-align:middle;text-align:center;}
		.innerLeft div a, .innerRight div a {display:block;width:48px;height:48px;margin:auto;background-repeat:no-repeat;background-position:center;background-size:contain;}
		
	
/* ==========================================================================
   Intro/About
   ========================================================================== */
   
#top .tableContainer {
	background-image:url('../img/logo.svg');
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	background-origin:content-box;
	margin-bottom:10px;
	}
	#top .tableContent>div {background-color: rgba(255, 255, 255, 0.9);border:.5em solid #fff;height:auto;}
		@media all and (max-width:400px){#top .tableContent{border-top:2em solid #fff;border-bottom:2em solid #fff;border-left:0px;border-right:0px;}}
		#top h1 {font-size: 12em; line-height: .8em;color: #3399ff; margin: 0;font-weight:700}
		/*Keep the MIKA AGUILAR on one line, adjust description*/
		@media all and (max-width:1200px){#top h1{font-size:10em;}}
		@media all and (max-width:974px){#top h1{font-size:8em;}}
		@media all and (max-width:785px){#top h1{font-size:6em;} #top .tableContainer{background-size:cover}#slide1text{font-size:1em;}}
		@media all and (max-width:595px){#top h1{font-size:3em;}}
		#slide1text {
			text-align: center; 
			line-height: 2.5em;
			width: 70%; 
			max-width: 1200px; 
			color: #b2b2b2;
			margin: auto;
			font-size:1.5em;
		}
		@media all and (max-width:785px){#slide1text{width:85%}}
		@media all and (max-width:595px){#slide1text{line-height:2em}}
		#socialSeparator{
			display: inline-block;
			width: 360px;
			height: 3em;
			transition: all 1.2s;
		}
		@media all and (max-width:520px){#socialSeparator{width:150px}}
		.loaded #socialSeparator {
			width: 0px;	
		}
		#linkedin, #github {
			display:inline-block;
			width: 3em;
			height: 3em;
			border-radius: 2px;
			background-image: url('../img/none.png');
			margin: 0 .2em;
			transition: all 1s;
			transition: background-image 2.5s;
			background-size: cover;
		}
		@media all and (max-width:595px){#linkedin, #github{width:45px;height:45px}}
		.loaded #linkedin {background-image: url('../img/linkedin.png')}
		#linkedin:hover {background-image: url('../img/linkedinInvert.png')}
		.loaded #github {background-image: url('../img/github.png')}
		#github:hover {background-image: url('../img/githubInvert.png')}

/* ==========================================================================
   Skills Section
   ========================================================================== */
   
#skillsSection {background-color:#FF584C;min-height:660px;overflow:hidden;padding-bottom:.5em;}
	#skillsHeader {color:#fff}
	#skillsHeader h1 {margin-bottom:0;margin-top:0;}
	.skillsItem{max-width:33%; height:455px;float:left;}
		.skillsItem p{color:#666;margin:.6em;text-align:center}
		/*white card with box shadow*/
	 	.skillsCard{
			height:100%;
			background-color:#fff; 
			margin: 0 1em; 
			box-shadow: .5em .5em 0px 0px #555;
			-webkit-transition: box-shadow 1s, margin 1s;
			transition: box-shadow 1s, margin 1s;
			}
		.skillsCard:hover{box-shadow:.2em .2em 0px 0px #7FBFFF;margin-top:.3em}
		.skillsItemHeader{display:block;text-align:center;color:#fff;background-color:#1262B2;padding:.5em;}
		@-webkit-keyframes thump {
			0% { -webkit-transform: scale(1); }
			50% { -webkit-transform: scale(0.8); }
			100% { -webkit-transform: scale(1); }
		}
		@keyframes thump {
			0% { transform: scale(1); }
			50% { transform: scale(0.8); }
			100% { transform: scale(1); }
		}
		/*img on top of skills*/
		.skillsCard:hover .skillsItemHeader>div:nth-child(1) {
			-webkit-animation-name: thump;
			-webkit-animation-duration: 600ms;
			-webkit-transform-origin:50% 50%;
			-webkit-animation-iteration-count: 1;
			-webkit-animation-timing-function: linear;
			animation-name: thump;
			animation-duration: 600ms;
			transform-origin:50% 50%;
			animation-iteration-count: 1;
			animation-timing-function: linear;
		}
		/*img on top of skills items*/
		div.skillsCard > .skillsItemHeader>div:nth-child(1){
			margin:.5em auto;
			display:block;
			width:90px;
			height:90px;
			border:3px solid #999;
			border-radius:48px;
			background-size: 60%;
			background-position:center;
			background-repeat:no-repeat;
		}
	/*specific skills img/color changes on hover*/
		#skillsFront{background-image: url('../img/responsiveYellow.svg');border-color:#A4C639}
		.skillsContent>div:hover #skillsFront{background-image: url('../img/responsive39f.svg');border-color:#39f;}
		div.aside1 #skillsDesign{background-image: url('../img/designOrange.svg');border-color:#FFB333}
		.aside1>div:hover #skillsDesign{background-image: url('../img/design39f.svg');border-color:#39f}
		div.aside2 #skillsBack{background-image: url('../img/servers.svg');border-color:#FF584C;}
		.aside2>div:hover #skillsBack{background-image: url('../img/servers39f.svg');border-color:#39f}
	/*skillsTap only shows when width is less than 550px*/
	.skillsTap {display:none;height:40px;width:100%;margin-bottom:.6em}
		#skillsSection .skillsTap p {color:#000;display:table-row;text-align:center;}
		.skillsTap img{height:25px;transition:all 500ms ease;-webkit-transition:all 500ms ease;-moz-transition:all 500ms ease;padding-top:.5em}
		/*rotate class will flip the arrows when applied with jQuery.  easiest way with decent support */
		.rotate {-ms-transform: rotate(180deg); /* IE 9 */
    	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    	transform: rotate(180deg)}
		/*showSkills used for show/hide rather than inline style, so it's responsive*/
		#skillsSection div.skillsItem p.showSkills{display:block;transition:all 1s;}
	/**
	 *
	 *Skills Media Queries
	 *
	 **/
	@media all and (max-width:1130px) {
		#skillsSection {height:auto}
		.skillsItem {height:auto;min-width:100%;}
			.skillsCard {display:table;margin-bottom:1em}
			.skillsItemHeader{width:165px;display:table-cell;vertical-align:middle}
			.skillsItem p {padding:1em;display:table-cell;text-align:left}
				.skillsCard:hover{box-shadow:.2em .2em 0px 0px #39f;margin-top:0}
			.aside2 {margin-bottom:2em}
	}
	@media all and (max-width:550px) {
		#skillsSection .innerHeader {margin-bottom:1em}
			#skillsHeader h1 {margin-bottom:0.2em}
			#skillsHeader p {width:90%;margin:auto;}
		.skillsCard {margin:1.5em auto;width:85%;margin-top:0}
			.skillsItemHeader{display:table-row; background-color:white; color:#555;}
			#skillsSection > div > div.skillsItem > div > p{padding-top:0;display:none;text-align:center}
			.skillsTap {display:table;padding-bottom:1em;text-align:center;margin:auto;}
	}
	
/* ==========================================================================
   Blurred Code Photo/Toolbox
   ========================================================================== */
   
#codeBlur .bcg {background-image:url('../img/codeblur.jpg'); background-color: #1c1c1c;}
#codeBlur .innerContainer {max-width:none}
#codeBlur .innerHeader {color:#fff;padding-top:0;margin-bottom:1em;}
#toolsContainer {
	text-align:justify;
	max-width:900px;
	width:80%;
	margin:auto;
}

/* Grabbed the following tooltip code from 
	http://cbracco.me/a-simple-css-tooltip/ */
	
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	width: 160px;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #000;
	border-top: 5px solid hsla(0, 0%, 20%, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

@media all and (max-width:768px) {#toolsContainer{margin-bottom:2em}}
@media all and (max-width:530px) {#toolsContainer{text-align:inherit}}
	#toolsContainer > img {width: 3em;height: 3em;border-radius: 8px;display:inline-block;*display:inline;zoom:1}
	#toolsContainer:after {content:"";width:100%;display:inline-block}
	#toolsContainer > img:hover {
		-webkit-animation-name: thump;
		-webkit-animation-duration: 600ms;
		-webkit-transform-origin:50% 50%;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-timing-function: linear;
		animation-name: thump;
		animation-duration: 600ms;
		transform-origin:50% 50%;
		animation-iteration-count: 1;
		animation-timing-function: linear;
	}
	
/* ==========================================================================
   Work Section
   ========================================================================== */
   
#workSection {color:#fff;background-color:#FF584C;padding-bottom:2.4em; height:620px;}
#workSection .innerHeader {margin-bottom:1.5em;}
#workSection .blockLeft h2, #workSection .blockRight h2 {
	background-color: #1262B2;
	margin: 0 -0.3em;
	margin-top: -0.3em;
	margin-bottom: 0.2em;
	padding: 0.3em;
	color: #fff;
}

.blockLeft { float: left; }
.blockRight { float: right; }
.blockRight h2, .blockLeft h2 { text-align: center; }
.blockRight, .blockLeft {
	background-color: white;
	color: #555;
	padding: .8em;
	width: 46%;
	height: 500px;
	box-shadow: .5em .5em 0px 0px #555;
	-webkit-transition: box-shadow 1s, margin 1s;
	transition: box-shadow 1s, margin 1s;
	margin: 0;
	display: table;
}

.blockRight:hover, .blockLeft:hover {box-shadow:.4em .4em 0px 0px #7FBFFF}

.blockPost {border-bottom: 1px solid #777; margin-bottom:10px;}
.blockPost:last-child {border-bottom: none;}
.blockLeft h3, .blockRight h3 {text-align: center;}
.blockLeft a, .blockRight a {text-decoration: none; text-align: center;}
.blockLeft .date {text-align: center; color: #FF584C;}
.blockLeft p, .blockRight p {text-align:center; margin: 0;}
.blockLeft .blockPostLink, .blockRight .blockPostLink {text-align:center;display:block;width:auto;margin:auto; margin-bottom:.5em;}

/* ==========================================================================
   Ocean Fog Photo
   ========================================================================== */
   
#oceanFog .bcg {background-image:url('../img/oceanfog.png'); background-color: #1c1c1c;}

/* ==========================================================================
   Contact Me
   ========================================================================== */
   
#contactSection {background-color:#1262B2;color:#fff}
#contactSection h1 {margin-bottom:0}
#contactSection .blockContent {width:70%;padding:4em 0 8em 0;}
	#contactSection .innerRight div a {background-image:url('../img/twitterWhite.svg');}
		#contactSection .innerRight div a:hover {background-image:url('../img/twitterBlue.svg');}
	#contactSection .innerLeft div a {background-image:url('../img/emailWhite.svg');}
		#contactSection .innerLeft div a:hover{background-image:url('../img/emailRed.svg');}
	
	@media all and (max-width:950px){
		#contactSection .blockContent {width:80%;}
		#contactSection .innerRight div h3, #contactSection .innerLeft div h3 {font-size:1.5em;}
	}
	
	@media all and (max-width:730px){
		#contactSection .innerRight div h3, #contactSection .innerLeft div h3 {font-size:1em;}
		#contactSection .blockContent {padding:4em 0 4em 0;}
	}
	
	@media all and (max-width:505px){
		#contactSection .innerLeft, #contactSection .innerRight {float:none;width:100%;padding-bottom:2em;}
	}

/* ==========================================================================
   Footer
   ========================================================================== */
   
#slide-6 {background-color: #1262B2; padding: 10px;}
#slide-6 div, #slide-6 a {color: #fff; font-family:'Droid Sans', sans-serif;}

/* ==========================================================================
   Site Info
   ========================================================================== */
   
#siteInfo {display:none; padding: 20px;padding-bottom: 40px;}
#siteInfo p {max-width: 800px; text-align:center;margin:auto;}
#siteInfo h2, #siteInfo a {color:#3399ff}