* {
    box-sizing: border-box;
}

/* Sizes grabbed from type-scale.com */
html {font-size: 100%;} /*16px*/

body {
    background-color: white;
    font-weight: 400;
    line-height: 1.65;
    color: #333;
    font-family: var(--font-body-copy);
    color: var(--color-font-base);
    font-size: 16px;
    margin: 0;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
    margin: 2.75rem 0 1.05rem;
    font-weight: 400;
    line-height: 1.15;
}

h1 {
    margin-top: 0;
    font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}

main {
    padding: 0 0.5em;
}

@media(min-width: 768px) {
    main {
        padding: 0;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-heading);
}

a {
    text-decoration: none;
    color: var(--color-link);
    transition: color 250ms ease-out;
    outline: 0;
}

a:hover,
a:active,
a:focus {
    color: var(--color-link-active)
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-navigation {
    display: inline;
}

.site-navigation ul li {
    display: inline-block;
    text-transform: uppercase;
    font-family: var(--font-heading);
}

