@import url(//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:700|Noto+Sans&display=swap);

:root {
    --color-font-base: #424242;
    --color-brand: #0080ff;
    --color-brand-compliment: #ff8000;
    --color-brand-compliment-dark: #cc6600;
    --color-highlight: #1F73E0;
    --color-link: var(--color-highlight);
    --color-link-active: var(--color-brand-compliment-dark);
    --color-detail-text: #757575;

    --font-heading: "Roboto", sans-serif;
    --font-brand: "Roboto Condensed", sans-serif;
    --font-body-copy: "Noto Sans", sans-serif;
}