<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ if .Title }}
        {{ .Title }} |
        {{ end }}
        {{ .Site.Title }}
    </title>
    {{ template "_internal/google_analytics.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    <link href="/favicons/favicon.ico" rel="icon" type="image/ico"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:700|Noto+Sans&display=swap" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.css" rel="stylesheet"/>

    {{ $cssVariables := resources.Get "/css/global/variables.css" }}
    {{ $cssGenerics := resources.Get "/css/global/generics.css" }}
    {{ $cssHeader := resources.Get "/css/global/header.css" }}
    {{ $cssFooter := resources.Get "/css/global/footer.css" }}
    {{ $cssSocialMedia := resources.Get "/css/global/social-media.css" }}
    {{ $cssMain := slice $cssVariables $cssGenerics $cssHeader $cssFooter $cssSocialMedia | resources.Concat "css/main.css" | resources.Minify }}
    <link href="{{ $cssMain.RelPermalink }}" rel="stylesheet"/>

    {{ block "stylesheets" . }}
    {{ end }}

</head>
<body>
{{ block "header" . }}
{{ partial "header.html" . }}
{{ end }}
{{ block "content" . }}
{{ end }}
{{ block "footer" . }}
{{ partial "footer.html" . }}
{{ end }}
</body>
</html>