.section--top {
    height: 90vh;
    min-height: 550px;
    background-image: url('/images/logo.svg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-container {
    width: 100%;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    background: rgba(255, 255, 255, 0.85);
    color: var(--color-highlight);
    text-align: center;
    padding: 12px;
}

@media (min-width: 768px) {
    .top-container {
        padding: 24px 0 18px;
    }
}

.top-header {
    margin: 0;
    font-weight: 700;
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    font-family: var(--font-brand);
}

@media (min-width: 768px) {
    .top-header {
        font-size: 14vw;
        line-height: 0.75;
    }
}

.top-subheader {
    color: var(--color-detail-text);
    margin: 12px 0 0;
    font-weight: 300;
    font-size: 22px;
}

@media (min-width: 768px) {
    .top-subheader {
        line-height: 1;
        font-size: 1.8em;
    }
}

.main-social-buttons {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    font-size: 22px;
}

@media (min-width: 1024px) {
    .main-social-buttons {
        font-size: 2.5vw;
    }
}

.social-button {
    color: var(--color-link);
    text-decoration: none;
    margin: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
    min-width: 34px;
    min-height: 34px;
    transition: color 250ms ease-out;
}

.social-button:hover {
    color: var(--color-link-active);
}

.social-button--email {
    font-size: 0.95em;
}

.social-button--twitter {
    font-size: 0.93em;
}

.section--work {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 24px 0;
    justify-content: space-evenly;
    background-color: var(--color-brand-compliment);
    background-image: url('/images/logoWhite.svg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    border-top: 8px solid var(--color-brand-compliment-dark);
}

.work {
    background-color: rgba(255, 255, 255, 0.95);
    border-width: 6px;
    border-color: white;
    border-style: solid;
    padding: 12px 16px 12px;
    margin: 16px 0;
    width: 100%;
    max-width: 1060px;
}

@media (min-width: 1024px) {
    .work:first-child {
        margin-top: 65px;
    }
}

.header--work {
    color: var(--color-highlight);
    margin-bottom: 0.4em;
    text-transform: uppercase;
    font-size: 2.25em;
    font-weight: 700;
    line-height: 1;
}

@media (min-width: 1024px) {
    .header--work {
        font-size: 2.5em;
    }
}

.work-item {
    margin: 12px 0;
}

.work-item-title {
    font-size: 1.3em;
    font-family: var(--font-heading);
    font-weight: 500;
}

.work-item-description {
    color: var(--color-detail-text);
}
