main {
    max-width: 940px;
    margin: 0 auto;
}

.list-header {
    text-transform: uppercase;
}

.list-item {
    margin-bottom: 1.4em;
}

.list-item-title {
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0.25em 0;
}

.list-item-description {
    margin: 0.3em 0 0.5em;
}

.list-item-date {
    color: var(--color-detail-text);
    font-size: 0.8em;
}
