body {
	background-image: url(http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_5287d4367585d_1.JPG);
    background-color: #fff;
	margin: 0px;
    font-family: 'PT Sans Narrow', sans-serif;
}
#hdBack {
	background-color: white;
	display: block;
	width: 100%;
}
#hdWrap {
	margin: auto;
	width: 100%;
	max-width: 960px;
	display: block;
	height: 105px;
	background-color: #fff;
}
#hdLogo {
	display: block;
	width: 100px;
	height: 106px;
	float: left;
	background-image: url(../logoshort2.png);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	margin-left: 0px;
	z-index: 10;
}
#hdTxt {
	display: block;
	width: 390px;
	float: left;
	margin-left: -10px;
}
#hdName {
	font-size: 80px;
    display: block;
	width: auto;
	float: left;
	color: #3399ff;
}
#hdSubTxt {
	font-size: 18px;
	float: left;
	color: #999;
	margin-left: 222px;
	margin-top: -25px;
}
.hdNav {
	position: relative;
	font-color: #3399ff;
	float: right;
	display: block;
	width: 340px;
	height: 50px;
	margin-top: 42px;
	overflow: hidden;
}
	.hdNav li {
		float: left;
		list-style: none;
	}
		.hdNav li a {
			text-decoration: none;
			font-size: 28px;
			color: #999;
			display: block;
			margin-right: 20px;
			text-align: center;
			z-index: 10;
			float: left;
			position: relative;
			overflow: hidden;
			margin: auto 10px;
		}
			.hdNav li a:hover {
				color: #3399ff;
			}
			#hdNavActive {
				color: #3399ff;
			}
			#hdNavActive:hover {
				color: #999;
			}
			.hdNav li.back {
				border-bottom: 4px solid #999;
				width: 9px; height: 35px;
				z-index: 8;
				position: absolute;
			}
				.hdNav li.back .left {
					border-bottom: 4px solid #999;
					height: 35px;
					margin-right: 9px;
				}
#bdHdWrap {
	width: 100%;
	min-height: 400px;
	display: block;
	background-position: 20% 20%;
}
.bdHd {
	width: 100%;
	display: block;
	height: 168px;
	margin: auto;
	padding-top: 120px;
}
	#bdHdContent {
	color: #FFF;
	margin: auto;
	display: block;
	width: 760px;
	font-size: 32px;
	padding-top: 20px;
	padding-bottom: 10px;
	}
		.bdHdTxt {
			background-color: rgba(51,153,255,0.8);
			margin-bottom: 10px;
			margin-left: 30px;
			padding-top: 10px;
		}
		#bdHdFace {
			display: block;
			width: 260px;
			height: 260px;
			-moz-border-radius: 160px;
			border-radius: 160px;
			-webkit-border-radius:160px;
			background-image: url(../myface.jpg);
			background-position: 70% 60%;
			border: 4px solid #3399ff;
			float: left;
			margin-left: -34px;
			margin-right: 10px;
			margin-top: -38px;
		}
#bd {
    margin: auto;
    width: 960px;
	min-height: 400px;
	display: block;
	background-color: rgba(255,255,255,0.8);
	padding: 5px;
	margin-top: 5px;
}
#bdFace {
		display: block;
		width: 260px;
		height: 260px;
		-moz-border-radius: 160px;
		border-radius: 160px;
		-webkit-border-radius:160px;
		background-image: url(../myface.jpg);
		background-position: 70% 60%;
		border: 4px solid #3399ff;
		float: left;
		margin-right: 15px;
		margin-left: 10px;
		}
h1 {
	text-align: center;
	color: #3399ff;
}
p {
	padding-left: 10px;
	padding-right: 10px;
}
table {
	margin: auto;
}
.centerText {
	text-align: center;
}
#contact_form {
	margin: auto;
	display: block;
	width: 600px;
	padding-bottom: 40px;
}
#contact_form textarea {
	width: 100%;
	height: 150px;
	font-family: 'PT Sans Narrow', sans-serif;
}
#contact_form input {
	width: 100%;
	font-family: 'PT Sans Narrow', sans-serif;
}