.post-header {
    margin: 5em auto;
    padding: 0 0.5em;
    max-width: 1024px;
    text-align: center;
}

.post-header .post-series {
    font-size: 1.15em;
    margin: 0.45em 0;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
}

.post-header h1 {
    font-size: 65px;
    line-height: 1;
    text-transform: uppercase;
}

.post-description {
    font-size: 26px;
    margin: 0 0 0.3em;
}

.post-published {
    color: var(--color-detail-text);
    font-size: 20px;
}

.post-last-updated {
    color: var(--color-brand-compliment-dark);
    font-size: 0.85em;
}

.post-body,
.post-footer {
    max-width:720px;
    margin: 0 auto;
}

.post-body {
    line-height: 1.65;
}

.post-body a {
    text-decoration: underline dashed;
}

.post-body img {
    max-width: 100%;
    height: auto;
}

.post-footer {
    margin-top: 3em;
}

.post-footer-series {
    margin: 1em 0;
}

.post-footer-series .post-series {
    font-size: 1.15em;
    margin: 0.45em 0;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
}


.post-thanks {
    font-size: 1.3em;
}

.post-edit-on-github {
    margin: 1em 0;
    font-size: 1.2em;
}