.project-container {
    max-width: 780px;
    margin: 0 auto;
}

.project-header {
    margin-bottom: 2em;
}

.project-header h1 {
    font-size: 46px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.project-published {
    color: var(--color-detail-text);
}

.project-last-updated {
    color: var(--color-brand-compliment-dark);
}

.project-body a {
    text-decoration: underline dashed;
}

.project-body img {
    max-width: 100%;
    height: auto;
}