{{ define "stylesheets" }}
{{ $css := resources.Get "/css/list.css" | resources.Minify}}
<link href="{{ $css.RelPermalink }}" rel="stylesheet">
{{ end }}


{{ define "content" }}

<main>
    <header class="list-header">
        <h1>{{ .Title }}</h1>
    </header>
    {{ $pinned := where .Pages.ByLastmod ".Params.pinned" "==" true }}
    {{ if $pinned }}
    <section class="list-pinned-container">
        <ul class="list-pinned">
            {{ range $pinned }}
            <li class="list-pinned-item">
                <a class="list-item-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
                <div class="list-item-description">{{ .Description }}</div>
            </li>
            {{ end }}
        </ul>
    </section>
    {{ end }}
    <ul class="list">
        {{ range .Pages | complement $pinned }}
        <li class="list-item">
            <div class="list-item-date">{{ .Date.Format "Jan 2, 2006" }}</div>
            <a class="list-item-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
            <div class="list-item-description">{{ .Description }}</div>
        </li>
        {{ end }}
    </ul>
</main>

{{ end }}