@import './vars';

@import url(//fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    font-family: 'PT Sans', sans-serif;
    color: $base-color;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: $link-color;
    transition: color 250ms ease-out;
    outline: 0;
    &:hover, &:active, &:focus {
        color: complement($link-color);
    }
}

ul {
    list-style: none;
}

body ul.menu a.is-active {
    color: complement($link-color);
}

.region-content {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 16px;
    @media (min-width: 1060px) {
        padding: 0;
    }
}