@import './vars';

@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:700);

.wrapper--header {
    max-width: 1245px;
    margin: 10px auto 55px auto;
    padding: 0 4px;
    @media (min-width: 768px) {
        padding: 0;
    }
}

.region-header {
    display: flex;
    a {
        color: $highlight-color;
        &:hover {
            color: complement($highlight-color);
        }
    }
}

.block-system-branding-block {
    display: flex;
    align-items: center;
    overflow: hidden;
    .site-logo {
        display: block;
        margin-right: 6px;
        @media (min-width: 768px) {
            margin-right: 20px;
        }
        img {
            width: 75px;
            height: auto;
        }
    }
    .site-name {
        font-size: 26px;
        font-weight: bold;
        font-family: 'Roboto Condensed';
        text-transform: uppercase;
        display: none;
        @media (min-width: 768px) {
            display: block;
        }
    }
    .site-slogan {
        color: $detail-text-color;
        line-height: 1.2;
        display: none;
        @media (min-width: 768px) {
            display: initial;
        }
    }
}

.region-header nav {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    justify-content: flex-end;
}

.region-header .menu {
    margin: 0;
    display: flex;
}

.region-header .menu a {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 0.45em;
    @media (min-width: 768px) {
        font-size: 18px;
        margin: 0 0.65em;
    }
}