.view-posts,
.view-projects {
    .views-row:not(:last-child) {
        margin-bottom: 16px;
    }
    .views-field-title {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .views-field-body {
        p {
            padding: 0;
            margin: 0;
        }
    }
}