{{ define "stylesheets" }}
{{ $css := resources.Get "/css/frontpage.css" | resources.Minify}}
<link href="{{ $css.RelPermalink }}" rel="stylesheet">
{{ end }}

{{ define "header" }}
<!-- -->
{{ end }}

{{ define "content" }}
<section class="section--top">
    <div class="top-container">
        <h1 class="top-header">
            <a href="/about">
                Mika Aguilar
            </a>
        </h1>
        <div class="front-personal-summary">
            {{ .Params.personalSummary | markdownify }}
        </div>
        {{ partial "navigation.html" . }}
        {{ partial "social-media.html" . }}
    </div>
</section>
{{ end }}

{{ define "footer" }}
<!-- -->
{{ end }}