@import './vars';

@import url(//fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    font-family: 'PT Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    color: $base-color;
}

a {
    text-decoration: none;
    color: $base-color;
    transition: color 250ms ease-out;
    &:hover {
        color: complement($base-color);
    }
}