@import './vars';

@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:700);

.region-header {
    border-bottom: 4px solid $base-color;
    display: flex;
}

.block-system-branding-block {
    display: flex;
    align-items: center;
    overflow: hidden;
    .site-logo {
        display: block;
        margin: -35px 20px -20px -6px;
    }
    .site-name {
        font-size: 2em;
        font-weight: bold;
        font-family: 'Roboto Condensed';
        text-transform: uppercase;
    }
}