{{ define "stylesheets" }}
{{ $css := resources.Get "/css/about.css" | resources.Minify }}
<link href="{{ $css.RelPermalink }}" rel="stylesheet">
{{ end }}


{{ define "main" }}

<article>
    <div class="about-photo-container">
        <img alt="profile photo" class="about-photo" src="/images/profile.png"/>
    </div>
    <div class="about-personal-summary">
        {{ .Params.personalSummary | markdownify }}
    </div>
    <div class="article-body">
        {{ .Content }}
    </div>
    <div class="about-last-modified">
        Last Modified {{ .Lastmod.Format "January 2, 2006" }}
    </div>
</article>

{{ end }}