<div class="blockContainer">
    <form ng-submit="addPost()">
        <h3>Create Post:</h3>
        <input type="text"
            placeholder="Title"
            ng-model="title">
        <br><br>
        <input type="date"
            ng-model="date">
        <br><br>
        <textarea rows="20"
            cols="100"
            placeholder="Body"
            ng-model="body">
        </textarea>
        <br><br>
        <p>{{error}}</p>
        <button type="submit">Post</button>
    </form>
</div>