<div class="blockContainer" ng-repeat="post in posts | orderBy: '-date'">
    <h1>{{post.title}}</h1>
    <p>{{post.date | date : longDate}}</p>
    {{post.body}}
    <br><br>
    <p>{{post.url}}</p>
    <a ng-hide="post.url" href="/blog/post/{{post._id}}">View More</a>
    <a ng-show="post.url" href="/blog/post/{{post.url}}">View More</a>
    <br>
    <a href="/blog/posts/{{post.date | date : 'yyyy/MM'}}">More posts from {{post.date | date : 'MMMM'}}</a>
    <br>
    <a href="/blog/posts/{{post.date | date : 'yyyy'}}">More posts from {{post.date | date : 'yyyy'}}</a>
    <br><br><br>
</div>